{% extends "base.html" %}

{% block title %}LTP Application{% endblock %}

{% block styles %}
<style>
    main {
        padding: 100px 20px;
    }

    main .cont {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    h1 {
        font-family: 'Roboto Slab', serif !important;
        font-weight: 900;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="cont">
        <div class="list-head">
            <h1><i class="fa fa-pencil-square-o"></i> LTP Application</h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="text-box">
                <span>Wildlife Farm Permit No:</span>
                <input type="text" name="wfp_no" required>
            </div>
            <div class="file-input">
                <span>Farm Photo:</span>
                <input type="file" name="farm_photo">
            </div>
            <div class="buttons">
                <a href="/admin/wfpwcp/list.php"
                    class="w3-btn w3-text-blue w3-round-large w3-border w3-border-blue">Back</a>
                <input type="submit" class="w3-btn w3-blue w3-round-large" name="submit" value="Save">
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
{% endblock %}