{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
<style>
    .page {
        background-color: rgb(231, 231, 231);
    }

    main {
        padding: 100px 20px;
    }

    form {
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 50px 0 rgba(0, 0, 0, 0.12);
    }

    form h2 {
        font-family: 'Roboto Slab', serif !important;
        font-weight: 800;
        font-size: 30px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <form action="" method="POST" class="w3-white" onsubmit="return validatePassword()">
        <h2><i class="fa fa-key" aria-hidden="true"></i> Update your password</h2>
        {% if error %}
        <div class="w3-panel w3-pale-red w3-padding w3-border-left w3-border-pink">{{ error }}</div>
        {% endif %}
        <div class="text-box">
            <span>Password:</span>
            <input type="password" name="password" id="p1" required>
        </div>
        <div class="text-box">
            <span>Confirm password:</span>
            <input type="password" name="password1" id="p2" required>
        </div>
        <div class="buttons">
            <input type="submit" class="w3-btn w3-blue w3-round-large" name="submit" value="Change">
        </div>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script>
    function checkPasswordStrength(password) {
        var regexLower = /[a-z]/;
        var regexUpper = /[A-Z]/;
        var regexSpecial = /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/;
        var regexNumber = /[0-9]/;

        if (password.length < 8) {
            alert("Password should be at least 8 characters long.");
            return false;
        }

        if (!regexLower.test(password) || !regexUpper.test(password)) {
            alert("Password should contain both lowercase and uppercase letters.")
            return false;
        }

        if (!regexSpecial.test(password)) {
            alert("Password should contain at least one special character.")
            return false;
        }

        if (!regexNumber.test(password)) {
            alert("Password should contain at least one number.");
            return false;
        }

        return true;
    }

    function validatePassword() {
        var password1 = $('#p1').val();
        var password2 = $('#p2').val();

        if (password1 !== password2) {
            alert("Passwords do not match!");
            return false; // Prevent form submission
        }

        return checkPasswordStrength(password1);
    }
</script>
{% endblock %}