{% extends "base.html" %}

{% block title %}WFP and WCP{% endblock %}

{% block styles %}
<style>
    main {
        padding: 100px 20px;
    }

    main .cont {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    h1 {
        font-family: 'Roboto Slab', serif !important;
        font-weight: 900;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="cont">
        <div class="list-head">
            <h1><i class="fa fa-pencil-square-o"></i> Editing Wildlife Farm/Collector's Permits</h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="text-box">
                <span>Wildlife Farm Permit No:</span>
                <input type="text" name="wfp_no" value="{{ item.wfp_no }}" required>
            </div>
            <div class="text-box">
                <span>Wildlife Collector's Permit No:</span>
                <input type="text" name="wcp_no" value="{{ item.wcp_no }}" required>
            </div>
            <div class="text-box">
                <span>Issuance Date:</span>
                <input type="date" name="issuance_date" value="{{ item.issuance_date }}" required>
            </div>
            <div class="text-box">
                <span>Expiry Date:</span>
                <input type="date" name="expiry_date" value="{{ item.expiry_date }}" required>
            </div>
            <div class="text-box">
                <span>First Name:</span>
                <input type="text" name="permitee_first_name" value="{{ item.permitee_first_name }}" required>
            </div>
            <div class="text-box">
                <span>Last Name:</span>
                <input type="text" name="permitee_last_name" value="{{ item.permitee_last_name }}" required>
            </div>
            <div class="text-box">
                <span>Permitee Address:</span>
                <input type="text" name="permitee_address" value="{{ item.permitee_address }}" required>
            </div>
            <div class="text-box">
                <span>Farm Name:</span>
                <input type="text" name="farm_name" value="{{ item.farm_name }}" required>
            </div>
            <div class="text-box">
                <span>Farm Address:</span>
                <input type="text" name="farm_address" value="{{ item.farm_address }}" required>
            </div>
            <div class="file-input">
                <span>Wildlife Farm Permit Photo:</span>
                <input type="file" name="wfp_photo">
                {% if item.wfp_photo_link %}
                <a href="{{ item.wfp_photo_link }}" target="_blank"><i class="fa fa-external-link"></i> View current</a>
                {% endif %}
            </div>
            <div class="file-input">
                <span>Wildlife Collector's Permit Photo:</span>
                <input type="file" name="wcp_photo">
                {% if item.wcp_photo_link %}
                <a href="{{ item.wcp_photo_link }}" target="_blank"><i class="fa fa-external-link"></i> View current</a>
                {% endif %}
            </div>
            <div class="file-input">
                <span>Permitee Photo:</span>
                <input type="file" name="permitee_photo">
                {% if item.permitee_photo_link %}
                <a href="{{ item.permitee_photo_link }}" target="_blank"><i class="fa fa-external-link"></i> View
                    current</a>
                {% endif %}
            </div>
            <div class="file-input">
                <span>Farm Photo:</span>
                <input type="file" name="farm_photo">
                {% if item.farm_photo_link %}
                <a href="{{ item.farm_photo_link }}" target="_blank"><i class="fa fa-external-link"></i> View
                    current</a>
                {% endif %}
            </div>
            <div class="buttons">
                <a href="/admin/wfpwcp/list.php"
                    class="w3-btn w3-text-blue w3-round-large w3-border w3-border-blue">Back</a>
                <a href="/admin/wfpwcp/delete.php?id{{ item.id }}"
                    class="w3-btn w3-text-red w3-round-large w3-border w3-border-red">Delete</a>
                <input type="submit" class="w3-btn w3-blue w3-round-large" name="submit" value="Save">
            </div>
        </form>

        <form action="/admin/wfpwcp/allowedanimals/create.php" method="POST" class="entryform" id="allowed-list">
            <h4>Transport Entries</h4>
            <table class="w3-table-all w3-margin-bottom">
                <tr>
                    <th>Common/Scientific Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
                {% for i in item.allowed_animals %}
                <tr>
                    <td class="emp">{{ i.animal.common_name }}/{{ i.animal.scientific_name }}</td>
                    <td>{{ i.quantity }}</td>
                    <td><a href="/admin/wfpwcp/allowedanimals/delete.php?id={{ i.id }}" class="w3-text-red"><i
                                class="fa fa-trash-o"></i> Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="text-box">
                <span>Butterfly:</span>
                <select name="animal_id" required>
                    {% for i in animals %}
                    <option value="{{ i.id }}">{{ i.common_name }}/{{ i.scientific_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="wcp_id" value="{{ item.id }}" required>
            <div class="text-box">
                <span>Quantity:</span>
                <input type="number" name="quantity" min="1" required>
            </div>
            <div class="buttons">
                <input type="submit" class="w3-btn w3-blue w3-round-large" name="submit" value="Add">
            </div>
        </form>

    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
